# import libraries

In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
os.getcwd() #current working directory

'/Users/jeongwonmin/Documents/lectures/Ensemble/code'

# data settings

In [3]:
data = pd.read_csv("./otto_train.csv") #https://www.kaggle.com/c/otto-group-product-classification-challenge
data.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [4]:
'''
id : an anonymous id unique to a product
feat_1, feat_2, ..., feat_93 : the various features of a product
target : the class of a product
'''

'\nid : an anonymous id unique to a product\nfeat_1, feat_2, ..., feat_93 : the various features of a product\ntarget : the class of a product\n'

In [5]:
print(data.shape)
nData = data.shape[0] 
nVar = data.shape[1]
print('# data : %d' %nData, '\n# variables : %d' %nVar )

(61878, 95)
# data : 61878
# variables : 95

### drop columns

In [6]:
data.drop(['id'], axis = 1)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,1,0,0,1,6,1,5,0,0,1,...,0,1,2,0,0,0,0,0,0,Class_1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,2,0,Class_9
61874,4,0,0,0,0,0,0,0,0,0,...,0,2,0,0,2,0,0,1,0,Class_9
61875,0,0,0,0,0,0,0,3,1,0,...,0,3,1,0,0,0,0,0,0,Class_9
61876,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3,10,0,Class_9
61877,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,Class_9

In [7]:
data = data.drop(['id'], axis = 1)

### change string data into int in target column

In [8]:
mapping_dict = {"Class_1": 1,
                "Class_2": 2,
                "Class_3": 3,
                "Class_4": 4,
                "Class_5": 5,
                "Class_6": 6,
                "Class_7": 7,
                "Class_8": 8,
                "Class_9": 9}

int_target = data['target'].apply(lambda x: mapping_dict[x])

In [9]:
int_target

0        1
1        1
2        1
3        1
4        1
        ..
61873    9
61874    9
61875    9
61876    9
61877    9
Name: target, Length: 61878, dtype: int64

### separate data into features and label

In [10]:
features = data.columns.difference(['target'])

X = data[features] 
y = int_target

In [11]:
X

,feat_1,feat_10,feat_11,feat_12,feat_13,feat_14,feat_15,feat_16,feat_17,feat_18,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_9,feat_90,feat_91,feat_92,feat_93
0,1,0,1,0,0,0,0,0,2,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,0,1,1,0,...,0,1,2,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,4,0,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,1,0,0,1,3,0,0,9,0,2,...,1,0,0,0,0,0,0,0,2,0
61874,4,0,0,0,4,2,0,0,0,0,...,0,2,0,0,2,0,0,0,1,0
61875,0,0,0,0,0,1,0,0,0,1,...,0,3,1,0,0,1,0,0,0,0
61876,1,0,0,0,0,0,0,3,0,0,...,0,0,0,0,1,0,0,3,10,0
61877,0,0,0,0,3,0,1,1,1,1,...,0,0,0,0,0,0,0,0,2,0

In [12]:
y

0        1
1        1
2        1
3        1
4        1
        ..
61873    9
61874    9
61875    9
61876    9
61877    9
Name: target, Length: 61878, dtype: int64

### split data into train & test data

In [13]:
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [14]:
print(train_x.shape, test_x.shape, train_y.shape, test_y.shape)

(49502, 93) (12376, 93) (49502,) (12376,)

# random forest model

# import libraries

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# first model

In [16]:
random_forest_model1 = RandomForestClassifier(n_estimators = 20, #the number of trees in the forest : 20
                                             max_depth = 5, #maximum depth of the tree : 5
                                             random_state = 42) #same results across different calls
model1 = random_forest_model1.fit(train_x, train_y) #train
predict1 = model1.predict(test_x) #predict
print("accuracy for the first model : %.2f" % (accuracy_score(test_y, predict1) * 100), "%") #accuracy(percentile)

accuracy for the first model : 60.16 %

# second model(more trees in the forest)

In [17]:
random_forest_model2 = RandomForestClassifier(n_estimators = 300, #the number of trees in the forest : 300
                                             max_depth = 5, #maximum depth of the tree : 5
                                             random_state = 42) #same results across different calls
model2 = random_forest_model2.fit(train_x, train_y) #train
predict2 = model2.predict(test_x) #predict
print("accuracy for the second model : %.2f" % (accuracy_score(test_y, predict2) * 100), "%") #accuracy(percentile)

accuracy for the second model : 61.73 %

# third model(expand depth)

In [18]:
random_forest_model3 = RandomForestClassifier(n_estimators = 300, #the number of trees in the forest : 300
                                             max_depth = 20, #maximum depth of the tree : 20
                                             random_state = 42) #same results across different calls
model3 = random_forest_model3.fit(train_x, train_y) #train
predict3 = model3.predict(test_x) #predict
print("accuracy for the third model : %.2f" % (accuracy_score(test_y, predict3) * 100), "%") #accuracy(percentile)

accuracy for the third model : 78.09 %

# fourth model(max depth)

In [19]:
random_forest_model4 = RandomForestClassifier(n_estimators = 300, #the number of trees in the forest : 300
                                             max_depth = 100, #maximum depth of the tree : 100
                                             random_state = 42) #same results across different calls
model4 = random_forest_model4.fit(train_x, train_y) #train
predict4 = model4.predict(test_x) #predict
print("accuracy for the fourth model : %.2f" % (accuracy_score(test_y, predict4) * 100), "%") #accuracy(percentile)

accuracy for the fourth model : 81.23 %

# result comparison

In [20]:
print("accuracy for the first model : %.2f" % (accuracy_score(test_y, predict1) * 100), "%") 
print("accuracy for the second model : %.2f" % (accuracy_score(test_y, predict2) * 100), "%") 
print("accuracy for the third model : %.2f" % (accuracy_score(test_y, predict3) * 100), "%") 
print("accuracy for the fourth model : %.2f" % (accuracy_score(test_y, predict4) * 100), "%")

accuracy for the first model : 60.16 %
accuracy for the second model : 61.73 %
accuracy for the third model : 78.09 %
accuracy for the fourth model : 81.23 %